/*$bg-logo: rgb(0, 0, 43);
$clr-tlscp: rgb(145, 145, 145);

$scale: 20;
$marge: 2px;
$border-size: $marge;
$border: $marge;

$w: 6.4px*$scale - $marge;
$h: 11.2px*$scale - $marge;

$h-v: 1.6px*$scale - $marge;
$pos-v-y: 5.1px*$scale - $marge;
$pos-v-x: 0.8px*$scale - $marge;

$w-v1: 2.2px*$scale - $marge;
$w-v1a: 80%;
$w-v1b: 20%;
$h-v1: 1.1px*$scale - $marge;
$space-top-v1: 0.2px*$scale;

$w-v2: 1.2px*$scale - $marge;
$h-v2: 1.6px*$scale - $marge;

$w-v3: 3.4px*$scale - $marge;
$h-v3: 1.1px*$scale - $marge;

$w-pd: 0.4px*$scale - $marge;
$h-pd: 0.4px*$scale - $marge;
$pos-pd1-x: 3px*$scale - $marge;
$pos-pd1-y: (6px - 1.6px)*$scale - $marge;
$pos-pd2-x: 3.6px*$scale - $marge;
$pos-pd2-y: (6px - 2px)*$scale - $marge*2;

$w-ps: 0.2px*$scale - $marge;
$h-ps: 1px*$scale - $marge;
$pos-ps-y: (5.4px - 2.4px)*$scale - $marge*3;
$pos-ps-x: 3.4px*$scale - $marge; 

$w-r: 1px*$scale - $marge;
$h-r: 0.8px*$scale - $marge;
$pos-r-x: 3px*$scale - $marge;
$pos-r-y: (4.6px - 3.4px)*$scale - $marge;

$w-pt: 0.2px*$scale - $marge;

$h-pt1: 3.6px*$scale;
$pos-pt1-x: 3.2px*$scale - $marge;
$pos-pt1-y: (6.4px - 4.2px)*$scale - $marge*5;

$h-pt2: 2.8px*$scale;
$pos-pt2-x: 3.4px*$scale - $marge;
$pos-pt2-y: (6.4px - 7.8px)*$scale - $marge*7;

$h-pt3: $h-pt1;
$pos-pt3-x: 3.6px*$scale - $marge;
$pos-pt3-y: (6.4px - 10.6px)*$scale - $marge*9;

.logo{
    width: $w;
    height: $h;
    background-color: $bg-logo;
    position: relative;
}

.V{
    display: flex;
    background-color: $bg-logo;
    width: $w-v1+$w-v2+$w-v3;
    height: $h-v;
    transform: translateY($pos-v-y) translateX($pos-v-x) rotate(-45deg);
    transform-origin: 0% 85%;
}

.v1{
    display: flex;
    margin-top: $space-top-v1;
    width: $w-v1;
    height: $h-v1;
    background-color:$clr-tlscp;
    border: $border-size solid;
    &a{
        width: $w-v1a;
        height: $h-v1;
        background-color: $clr-tlscp;
    }
    &b{
        width: $w-v1b;
        height: $h-v1;
        background-color: $clr-tlscp;
        border-right: $border solid;
    }
}

.v2{
    width: $w-v2;
    height: $h-v2;
    background-color: $clr-tlscp;
    border: $border-size solid;
}

.v3{
    margin-top: $space-top-v1;
    width: $w-v3;
    height: $h-v3;
    background-color: $clr-tlscp;
    border: $border-size solid;
    &a{
        width: 80%;
        height: $h-v3;
        background-color: $clr-tlscp;
        border-right: $border solid;
    }
}

.R{
    width: $w-r;
    height: $h-r;
    background-color: $clr-tlscp;
    border: $border-size solid;
    transform: translate($pos-r-x,$pos-r-y);
}

.PS{
    width: $w-ps;
    height: $h-ps;
    border: $border-size solid;
    background-color: $clr-tlscp;
    transform: translate($pos-ps-x,$pos-ps-y);
}

.PD1{
    width: $w-pd;
    height: $h-pd;
    border: $border-size solid;
    background-color: $clr-tlscp;
    transform: translate($pos-pd1-x,$pos-pd1-y);
}

.PD2{
    width: $w-pd;
    height: $h-pd;
    border: $border-size solid;
    background-color: $clr-tlscp;
    transform: translate($pos-pd2-x,$pos-pd2-y);
}

.PT1{
    width: $w-pt;
    height: $h-pt1;
    background-color: $clr-tlscp;
    border: $border-size solid;
    transform: translate($pos-pt1-x,$pos-pt1-y) rotate(20deg);
    transform-origin: 50% 0%;
}
.PT2{
    width: $w-pt;
    height: $h-pt2;
    background-color: $clr-tlscp;
    border: $border-size solid;
    transform: translate($pos-pt2-x,$pos-pt2-y);
}
.PT3{
    width: $w-pt;
    height: $h-pt1;
    background-color: $clr-tlscp;
    border: $border-size solid;
    transform: translate($pos-pt3-x,$pos-pt3-y) rotate(-20deg);
    transform-origin: 50% 0%;
}*/
/*/////////////////////////////////////////*/
$echelle: 50;
$clr-corps: rgb(0, 0, 107);
$w-corps: 5px * $echelle;
$h-corps: $w-corps; 

/*/////////////////////////////////////////*/
$clr: rgb(168, 165, 165);
$clr-shadow: rgb(131, 127, 127);
$clr-vitre: rgba(0, 0, 0, 1);
$clr-a-vitre: rgb(94, 93, 93);
$clr-oreille: rgb(37, 37, 37);
$clr-visage: gray;
$clr-lisiaire: linear-gradient(to right, rgb(94, 94, 94), rgb(0, 0, 0));
$border: 4px;

$w-tete: 3px * $echelle;
$h-tete: 2.4px * $echelle;
$pos-x-tete: ($w-corps - $w-tete) / 2;
$pos-y-tete: $w-tete / 4; 

$w-oreille: 0.3px * $echelle;
$h-oreille: 0.8px * $echelle;
$pos-x-oreille1: 0.2px * $echelle;
$pos-y-oreille1: 1px * $echelle;
$pos-x-oreille2: $w-tete - $w-oreille;
$pos-y-oreille2: $pos-y-oreille1;

$w-casque1: 2.4px * $echelle;
$h-casque1: 2.4px * $echelle;
$w-casque2: (2.4px / 2) * $echelle;
$h-casque2: 2.4px * $echelle;
$pos-x-casque1: $pos-x-oreille1 + 0.2px * $echelle;
$pos-y-casque1: 0px * $echelle;
$pos-x-casque2: $w-casque1 / 2;
$pos-y-casque2: 0px * $echelle;

$w-a-vitre: 2px * $echelle;
$h-a-vitre: 1.8px * $echelle;
$pos-x-a-vitre: 0.6px * $echelle;
$pos-y-a-vitre: 0.4px * $echelle;
$w-mini-oreille: 0.2px * $echelle;
$h-mini-oreille: 0.4px * $echelle;
$pos-x-mini-oreille1: 0px * $echelle;
$pos-y-mini-oreille1: $h-a-vitre / 2;
$pos-x-mini-oreille2: $w-a-vitre - $w-mini-oreille;
$pos-y-mini-oreille2: $pos-y-mini-oreille1;

$w-vitre: $w-a-vitre - (0.2px*$echelle);
$h-vitre: $h-a-vitre - (0.2px*$echelle);
$pos-x-vitre: 0.1px * $echelle;
$pos-y-vitre: 0.1px * $echelle;

$w-triangle: 0.2px * $echelle;
$h-triangle: 0.2px * $echelle;
$pos-x-triangle1: $w-a-vitre/3;
$pos-y-triangle1: $h-a-vitre - $h-triangle + 1px; 
$pos-x-triangle2: $w-a-vitre/3*2 - $w-triangle;
$pos-y-triangle2: $pos-y-triangle1; 

$w-visage: $w-vitre;
$h-visage: $h-vitre;

$w-oeil: 0.2px * $echelle;
$h-oeil: $w-oeil;
$pos-x-oeil1: $w-vitre / 4;
$pos-y-oeil1: $h-vitre / 3;
$pos-x-oeil2: ($w-vitre / 4)*3 - $w-oeil;

$w-bouche: $w-vitre / 2 - $w-oeil * 2;
$h-bouche: $w-vitre / 8;$pos-y-oeil2: $h-vitre / 3;

$w-sourcil: $w-bouche;
$h-sourcil: $h-oeil;
$pos-x-sourcil1: $pos-x-oeil1 - ($w-sourcil - $w-oeil)/2;
$pos-y-sourcil1: $pos-y-oeil1 - $h-oeil - $h-oeil/2;
$pos-x-sourcil2: $pos-x-oeil2 - ($w-sourcil - $w-oeil)/2;
$pos-y-sourcil2: $pos-y-oeil1 - $h-oeil - $h-oeil/2;

$pos-x-bouche: $pos-x-oeil1 + $w-oeil;
$pos-y-bouche: $pos-y-oeil1 + $w-vitre / 4;

/*///////////////////////////////////*/

$clr-tronc: rgb(146, 145, 145);
$clr-boite: rgb(116, 116, 160);
$clr-ecran: rgb(0, 0, 255);
$w-tronc: $w-tete + $w-tete / 8;
$h-tronc: $w-tronc;
$pos-x-tronc: ($w-corps - $w-tronc) / 2;
$pos-y-tronc: $pos-y-tete + $h-tete + 0.1px *$echelle;

$w-poitrine: $w-tronc / 2;
$h-poitrine: $w-tronc;
$pos-x-poitrine: $w-tronc / 2;
$pos-y-poitrine: 0px;

$w-boite: $w-tronc / 2;
$h-boite: $w-tronc / 3;
$pos-x-boite: ($w-tronc - $w-boite) / 2;
$pos-y-boite: $h-tronc / 8;

$w-ecran: $w-boite / 2;
$h-ecran: $h-boite / 2;
$pos-x-ecran: $w-boite/3;
$pos-y-ecran: $h-boite/6;

$w-boutton: 0.2px * $echelle;
$h-boutton: 0.2px * $echelle;
$pos-x-boutton1: $w-boite/8;
$pos-y-boutton1: $pos-y-ecran;
$pos-x-boutton2: $w-boite/8;
$pos-y-boutton2: $pos-y-ecran + $h-boutton *2;

/*/////////////////////////////////////////*/
$clr-sac: rgb(100, 99, 99);
$w-sac: $w-tronc - $w-tronc / 8;
$h-sac: $w-sac;
$pos-x-sac: $pos-x-tronc + $w-tronc / 16;
$pos-y-sac: $pos-y-tronc - $h-tete / 6;

/*/////////////////////////////////////////*/

.corps{
    position: relative;
    background-color: $clr-corps;
    width: $w-corps;
    height: $w-corps;
    border-radius: 50%;
    overflow: hidden;
    & .sac{
        position: absolute;
        background-color: $clr-sac;
        width: $w-sac;
        height: $h-sac;
        border-radius: 10% 10% 0% 0%;
        transform: translate($pos-x-sac, $pos-y-sac);
    }
    & .tete{
        position: absolute;
        z-index: 1;
        & > div{
            position: absolute;
        }
        width: $w-tete;
        height: $h-tete;
        overflow: hidden;
        position: absolute;
        cursor: pointer;
        transform: translate($pos-x-tete,$pos-y-tete);
        & .casque1{
            background-color: $clr;
            width: $w-casque1;
            height: $h-casque1;
            border-radius: 80% 80% 70%70%;
            transform: translate($pos-x-casque1,$pos-y-casque1);
            overflow: hidden;
            /*border-top: $border solid;*/
            & .casque2{
                background-color: $clr-shadow;
                width: $w-casque2;
                height: $h-casque2;
                transform: translate($pos-x-casque2,$pos-y-casque2);
                /*border-top: $border solid;*/
            }
        }
        & .oreille1{
            background-color: $clr-oreille;
            width: $w-oreille;
            height: $h-oreille;
            border-radius: 100% 0% 0% 100%;
            /*border-left: $border solid;*/
            transform: translate($pos-x-oreille1,$pos-y-oreille1);
        }
        & .oreille2{
            background-color: $clr-oreille;
            width: $w-oreille;
            height: $h-oreille;
            border-radius: 0% 100% 100% 0%;
            /*border-left: $border solid;*/
            transform: translate($pos-x-oreille2,$pos-y-oreille2);
        }
        & .a-vitre{
            position: relative;
            background-color: $clr-a-vitre;
            width: $w-a-vitre;
            height: $h-a-vitre;
            border-radius: 50% 50% 40% 40%;
            transform: translate($pos-x-a-vitre,$pos-y-a-vitre);
            & >div{
                position: absolute;
            }
            & .mini-oreille1{
                background-color: $clr;
                width: $w-mini-oreille;
                height: $h-mini-oreille;
                transform: translate($pos-x-mini-oreille1,$pos-y-mini-oreille1);
            }
            & .mini-oreille2{
                background-color: $clr-shadow;
                width: $w-mini-oreille;
                height: $h-mini-oreille;
                transform: translate($pos-x-mini-oreille2,$pos-y-mini-oreille2);
            }
            & .vitre{
                background: $clr-lisiaire;
                width: $w-vitre;
                height: $h-vitre;
                border-radius: 50% 50% 40% 40%;
                overflow: hidden;
                transform: translate($pos-x-vitre,$pos-y-vitre);
            }
            & .triangle1{
                background-color: $clr;
                width: $w-triangle;
                height: $h-triangle;
                transform: translate($pos-x-triangle1,$pos-y-triangle1);
            }
            & .triangle2{
                background-color: $clr-shadow;
                width: $w-triangle;
                height: $h-triangle;
                transform: translate($pos-x-triangle2,$pos-y-triangle2);
            }
        }
    }
    & .tronc{
        transform: translate($pos-x-tronc,$pos-y-tronc);
        background-color: $clr;
        position: relative;
        width: $w-tronc;
        height: $h-tronc;
        border-radius: 30% 30% 0% 0%;
        overflow: hidden;
        & > div{
            position: absolute;
        }
    
        & .poitrine{
            background: $clr-shadow;
            width: $w-poitrine;
            height: $h-poitrine;
            transform: translate($pos-x-poitrine, $pos-y-poitrine);
        }

        & .boite{
            position: relative;
            background-color: $clr-sac;
            width: $w-boite;
            height: $h-boite;
            border-radius: 10% 10% 10% 10%;
            transform: translate($pos-x-boite,$pos-y-boite);
            & > div{
                position: absolute;
            }
            & .ecran{
                background-color: $clr;
                width: $w-ecran;
                height: $h-ecran;
                transform: translate($pos-x-ecran, $pos-y-ecran);
            }
            & .boutton1{
                background-color: $clr;
                width: $w-boutton;
                height: $h-boutton;
                border-radius: 50%;
                transform: translate($pos-x-boutton1, $pos-y-boutton1);
            }
            & .boutton2{
                background-color: $clr;
                width: $w-boutton;
                height: $h-boutton;
                border-radius: 50%;
                transform: translate($pos-x-boutton2, $pos-y-boutton2);
            }
        }
    }
    /*&:hover{
        & .tete{
            animation: mouvement-tete 1s alternate;
            & .a-vitre{
                animation: mouvement-a-vitre 1s alternate;
            }
        }
    }*/
}

.input-text{
    cursor: pointer;
    font-size: 20px;
}

.input-text{
    margin-left: 45px;
}


@keyframes mouvement-tete{
    0%{
        transform: translate($pos-x-tete, $pos-y-tete);
    }
    50%{
        transform: translate($pos-x-tete, $pos-y-tete + 5px);
    }
    100%{
        transform: translate($pos-x-tete - 5px, $pos-y-tete + 5px);
    }
}

@keyframes mouvement-a-vitre{
    0%{
        transform: translate($pos-x-a-vitre, $pos-y-a-vitre);
    }
    50%{
        transform: translate($pos-x-a-vitre, $pos-y-a-vitre + 5px);
    }
    100%{
        transform: translate($pos-x-a-vitre - 5px, $pos-y-a-vitre + 5px);
    }
}

/*////////////////////////////////////////////////*/

