<div class="container">
    <!--<div class="lune">
        <div class="lune-shadow"></div>
        <div class="cratere1"></div>
        <div class="cratere2"></div>
        <div class="cratere3"></div>
    </div>-->
    <div class="card center">
        <div class="card-body">
            <div class="card-body-deco1"></div>
            <div class="card-body-deco2"></div>
            <div class="card-body-deco3"></div>
            <div class="corps center">
                <div class="sac"></div>
                <div class="tete">
                    <div class="casque1">
                        <div class="casque2"></div>
                    </div>
                    <div class="oreille1"></div>
                    <div class="oreille2"></div>
                    <div class="a-vitre">
                        <div class="mini-oreille1"></div>
                        <div class="mini-oreille2"></div>
                        <div class="triangle1"></div>
                        <div class="triangle2"></div>
                        <div class="vitre">
                            <div class="visage"></div>
                            <div class="visage-shadow"></div>
                            <div class="lisiaire"></div>
                        </div>
                    </div>
                </div>
                <div class="tronc">
                    <div class="poitrine"></div>
                    <div class="boite">
                        <div class="ecran"></div>
                        <div class="boutton1"></div>
                        <div class="boutton2"></div>
                    </div>
                </div>
            </div>
            <div class="formulaire">
                <p class="label-email">Email</p>
                <input class="input-email" type="email">
                <p class="label-mdp">Mot de passe</p>
                <input class="input-mdp" type="password">
                <button class="button" type="submit">Connexion</button>
            </div>
        </div>
    </div>
</div>